<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

</body>
     <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <style>
        .navbar-custom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 10vh;
          background-color: #ececec
          
        }
      
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-nav .nav-link {
          color: black;
          font-family: sans-serif;
          font-size: 0.9em;
        }
      
        .navbar-custom .navbar-toggler {
          border-color: rgba(255, 255, 255, 0.1);
        }
      
        .navbar-custom .navbar-nav .nav-link:hover,
        .navbar-custom .navbar-nav .nav-link:focus {
          background-color: #367c39; /* Slightly darker green on hover/focus */
        }

        .logo-text{
          font-size: 2em;
        }
      </style>
      
</head> 
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <!-- <div class="container">
          <a href="/" class="navbar-brand"><img src="/images/logo.jpeg" alt="Logo" style="height: 30px;">LearnSphere</a>
======= -->
        <div class="logo">
          <span class="logo-text"><i class="fa fa-book" style="margin-left: 1em"></i>Learn<span style="color: #367c39; font-size: 1.1em;">Sphere</span></div>

          <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fas fa-home me-1"></i>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact"><i class="fas fa-envelope me-1"></i>Contact Us</a>
              </li>
              <% if (session.user){ %>
                <% if (session.user.STATUS =='1') { %>
                <li class="nav-item">
                  <a class="nav-link" href="/usersReport"><i class="fas fa-sign-in-alt me-1"></i>Users</a>
                </li>  
                <% } %>
              <% } %>
              
              <% if (!session.user) { %>
              <li class="nav-item">
                <a class="nav-link" href="/signin"><i class="fas fa-sign-in-alt me-1"></i>Sign In</a>
              </li>            

              <% } %>
            </ul>
          </div>
        </div>
      </nav>
   
    